<h2>Creat a new user</h2>
<form action="" method="post">
  <label for="user-input">User</label>
  <input id="user-input" name="name" type="text" placeholder="User">

  <label for="password-input">password</label>
  <input id="password-input" name="password" type="password" minlength="6" placeholder="min 6">
  <button>Sign Up</button>
</form>