<h2>Welcome Back</h2>

<form action="" method="post">
  <label for="user-input">User</label>
  <input id="user-input" name="name" type="text" placeholder="User">

  <label for="password-input">password</label>
  <input id="password-input" name="password" type="password" placeholder="password">
  <button>Sing in</button>


</form>

<a href="/views/sign-up">create an account</a>